html, body {
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

img{
    border-radius: 50%;
    width: 50%;
  }

figcaption{
  border: 1px dotted gray;
  border-width: 75%;
  margin-left: 2%;
  margin-right: 2%;
}


/*estilo formularios*/

.button{
  color: white;
  background-color: green;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 15px 15px;
  width: 100%;
  cursor: pointer;
}

select, input[type="email"], input[type='tel'], input[type='url'], textarea#mensagem{
  border-radius: 5px;
  border-color: lightgray;
  padding: 15px 15px;
  margin: 7px 0;
  width: 97%;
}  

.entrar_form{
  border: none;
  border-radius: 5px;
  padding: 20px 15px;
  width: 97%;
  background-color: #ededed;
}
